
@media screen and (max-width:480px){
    
    
ul {
    list-style: none;
}

.form-control {
    width: 85%;
 }
 
 .Bar{
     background-image: url("../../assets/picture/Ber2.png");
     background-size:cover;
     height: 50px;
     width: 100%;
     position: fixed;
     top: 0;
     overflow:hidden;
     Z-index:5;
 }
 
body {
    width: 100%;
    background-attachment: fixed;
    z-index: -10;
    background-image: url("/assets/picture/back.png");
    background-size: cover;
    background-repeat: no-repeat;
}
 
main {

    width: 100%;

}
 
.talkber {
    /* バーのサイズと色 */
    width: 100%;
    background-color: #444444;
     
    /* 横に並べる　*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
     
    /* 固定する*/
    position: fixed;
    bottom: 0px;
}
 
.talkber p {
    color: #fff;
}
 

#floatButton1 {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    Z-index:10;
}

.container{
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: -140px;
    width: 100%;
}

/*.chatting {*/
/*}*/


.balloon5 {
    z-index: 5;
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
}

.balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.balloon5 .chatting {
    width: 100%;
}

.says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
}

.says p {
    margin: 0;
    padding: 0;
}

.contbody{
    font-size: 30px;
    word-break: break-all;
}

.contname{
    font-size: 15px;
}

/*.time_at{*/
/*    color: #fff*/
/*}*/

/*メニュー*/
.hidden_box{
  display:inline-block;
  margin:0;
  padding:0;
  top: 50;
  position: absolute;
  z-index: 10;
  position: fixed;
}
/*ボタン装飾*/
.hidden_box label{
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
  margin-left: -15px;
  width: 70px;
  height: auto;
  border-width : 0px;
}
/*ボタンホバー時*/
.hidden_box label:hover{background: #efefef;}
/*チェックは見えなくする*/
.hidden_box input{display: none;}
/*中身を非表示にしておく*/
.hidden_box .hidden_show{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
/*クリックで中身表示*/
  .hidden_box input:checked ~ .hidden_show{
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.Menupicture{
    height: 580px
    
}

.Menu2{
    background-color:#EEEEEE;
    width:280px;
    height:560px;
    opacity: inherit;
}

.good_nam{
    font-size: 18px;
}

.h2{
    color: #fff;
    font-size:20px;
    
    }

}